{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block content %}

<h1>Coin Details</h1>

<div class="card">
  <div class="card-content">
    {% if coin.get_appreciation_percentage > 20.0 %}
    <span class="card-title green-text darken-1"
      >{{coin.year}} - {{ coin.title }}
    </span>
    {% elif coin.appraised_value < coin.face_value %}
    <span class="card-title red-text darken-1"
      >{{coin.year}} - {{ coin.title }}
    </span>
    {%else%}
    <span class="card-title">{{coin.year}} - {{ coin.title }}</span>
    {% endif %}
    <p>Notes: {{ coin.notes }}</p>
    <p>Face Value: ${{ coin.face_value|floatformat:2}}</p>
    <p>Appraised Value: ${{ coin.appraised_value|floatformat:2}}</p>
  </div>
  <div class="card-action">
    <form class="app-form " action="{%url 'add_appraisal' coin.id %}" method="POST">
      {% csrf_token %} {{ appraisal_form.as_p }}
      <input class="btn-small blue-grey lighten-2" type="submit" value="Add Appraisal" />
    </form>
      <a
        href="{% url 'coin_update' coin.id %}"
        class="btn-small blue-grey lighten-2"
      >
        Edit
      </a>
      <a
        href="{% url 'coin_delete' coin.id %}"
        class="btn-small blue-grey lighten-2"
      >
        Delete
      </a>
         
  </div> 
</div>
{% for photo in coin.photo_set.all %}
  <img class="responsive-img card-panel coin-photo" src="{{photo.url}}">
{% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' coin.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>


<script>
  let dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

  <!-- prettier-ignore -->
  {% endblock %}


</div>
